.button-container {
  display: flex;
  gap: 12px; /* Adjust spacing between buttons */
  flex-wrap: wrap; /* Allows wrapping on small screens */
}

.modern-button {
  padding: 3px 6px;
  background-color: #4e92e4;
  color: white;
  font-weight: bold;
  border: none;
  gap: 12px;
  flex-wrap: wrap;
  margin-right: 16px;
  border-radius: 2px;
  margin-top: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  font-size: 15px;
  cursor: pointer;
}

.modern-button:hover {
  background-color: #00695c;
  transform: translateY(-2px);
}
.category-input {
  padding: 8px;
  border: 3px solid #4c94d2;
  border-radius: 8px;
  margin-right: 16px;
  font-size: 14px;
}
